

  /* Container */
  .containerPage {
    display: grid;
    grid-template-rows: auto 1fr auto; /* 页眉、内容、页脚 */
    grid-template-columns: auto; /* 边栏:主内容 比例约为1:3 */
    grid-template-areas: 
      "header "  /* 页眉占据整个行 */
      "main "   /* 边栏和主内容在第二行 */
      "footer "; /* 页脚占据整个行 */         /* 网格间隙 */
    width: 100%; /* 最大宽度 */
    margin: 0 auto;   /* 居中对齐 */
  }
  
  /* Header */
  .headContent {
    grid-area: header;
 
    text-align: center;
  }
  .mainContent{
    grid-row: main;
    
  }
  
  /* Footer */
  .footerContent {
    grid-area: footer;
    padding: 20px;
    text-align: center;
  }
  